.container {
    padding: 5%;
    max-width: 2024px;
    min-width: 100%;
    margin: auto;
}

/* configuração dos textos */
p,
.container .descricao li {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

/* Nome */
.container .h-name {
    width: 100%;
    min-height: 100px;
    margin-top: 0%;
    margin-bottom: 80px;
}

/* Isabela de Melo Monteiro Firmino*/
.container .h-name h1 {
    font-family: 'Croissant One', cursive;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}

/* Desenvolvedora */
.container .h-name h2 {
    font-family: 'Croissant One', cursive;
    font-size: 32px;
    color: #E04D09;

}

/* Div das sessões (o container) */
.container .h-sobre,
.container .h-experiencia,
.container .h-educacao,
.container .h-habilidades,
.container .h-contato {
    width: 100%;
    min-width: 100px;
    margin-bottom: 60px;
}

/* Títulos das sessões */
.container .h-sobre .h-title-sobre,
.container .h-experiencia .h-title-experiencia,
.container .h-educacao .h-title-educacao,
.container .h-habilidades .h-title-habilidades,
.container .h-contato .h-title-contato {
    font-family: 'Croissant One', cursive;
    font-size: 18px;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #E04D09;
    margin-bottom: 25px;
}

/* Títulos h2 dos ITENS das sessões Experiências e Educação */
.container .h-experiencia .work h2,
.container .h-experiencia .descricao h2,
.container .h-educacao .item h2 {
    width: 100%;
    min-width: 100px;
    font-family: 'Croissant One', cursive;
    margin-bottom: 15px;
    font-size: 20px;
}
.container .h-experiencia .descricao h2 {
    color: #E04D09;
}

/* Experiência */
.container .h-experiencia .h-itens .item {
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-direction: row;
}

.container .h-experiencia .h-itens .item .work {
    padding-right: 10px;
    min-width: 150px;
    max-width: 25%;
    min-height: 100px;
    border-right: 3px solid #E04D09;
}
/* negrito no lugar e ano da experiência */
.container .h-experiencia .work p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}
/* ajustes de posicionamento da lista */
.container .h-experiencia .descricao {
    margin-left: 30px;
}
.container .h-experiencia .descricao li {
    margin: 10px;
}

/* Div dos itens da sessão Educação em colunas*/
.container .h-educacao {
    display: flex;
    flex-wrap: wrap;
}
.container .h-educacao .item {
    flex: 1;
    width: 100%;
    min-height: 100px;
}

/* Habilidades */
.container .h-habilidades .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}
.container .h-habilidades .item .title {
    min-width: 150px;
}
.container .h-habilidades .item h2 {
    font-size: 18px;
    text-transform: uppercase;
}
.container .h-habilidades .item .icon {
    position: relative;
    width: 200px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #f39970;
    border-radius: 6px;
    background: transparent;
}
.container .h-habilidades .item .icon div[class^="percentual-"] {
    height: 100%;
    border-radius: 6px;
    background-color: #E04D09;
}

/* Contato */
.container .h-contato .w-100-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.container .h-contato .w-100-item > * {
    margin-right: 8px;
}
.container .h-contato .w-100-item h2,
.container .h-contato .w-100-item p {
    font-size: 18px;
}

/* Percentuais */ 
.container .h-habilidades .item .icon .percentual-10{
    width: 10%;
}
.container .h-habilidades .item .icon .percentual-20{
    width: 20%;
}
.container .h-habilidades .item .icon .percentual-30{
    width: 30%;
}
.container .h-habilidades .item .icon .percentual-40{
    width: 40%;
}
.container .h-habilidades .item .icon .percentual-50{
    width: 50%;
}
.container .h-habilidades .item .icon .percentual-60{
    width: 60%;
}
.container .h-habilidades .item .icon .percentual-70{
    width: 70%;
}
.container .h-habilidades .item .icon .percentual-80{
    width: 80%;
}
.container .h-habilidades .item .icon .percentual-90{
    width: 90%;
}
.container .h-habilidades .item .icon .percentual-100{
    width: 100%;
}